[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plantTracker"]
	path = plantTracker
	url = https://github.com/aestears/planttracker
